<!DOCTYPE html>
<head>
    <title>about</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css"
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site uses data from mapbox.com and weatherstack.com!</p>
        <p>Build by Lochan Potdar situated in Navi Mumbai, Maharastra.</p>
        <p>Contact me on<a href=""> Send a mail </a>for any further details or queries.</p>
        <img class="potrait" src="/img/robot.jpg">
    </div>
    
    {{>footer}}
</body>