<!DOCTYPE html>
<head>
    <title>about</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site uses data from mapbox.com and weatherstack.com!</p>
        <p>Build by Deveshree Rotkar situated in Navi Mumbai, Maharastra.</p>
        <p>Contact me on <a href="mailto:lochan.potdar1998@gmail.com" target="_blank"><i class="fa fa-at"></i>Send a mail</a> for any further details or queries.</p>
         
    </div>
    
    {{>footer}}
</body>