<!DOCTYPE html>
<head>
    <title>help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css"
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Enter your location in the input section of the weather page and get your weather forecasting instantly.</p>
        <p><a href="https://en.wikipedia.org/wiki/Weather_forecasting" target="_blank">Click here</a> to know more about weather forecasting.</p>
    </div>
    

<p>{{>footer}}</p>
</body>